@font-face {
  font-family: 'Abel Regular';
  src        : url('/fonts/abel-regular-webfont.eot');
  src        : url('/fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/abel-regular-webfont.woff2') format('woff2'), url('/fonts/abel-regular-webfont.woff') format('woff'), url('/fonts/abel-regular-webfont.ttf') format('truetype'), url('/fonts/abel-regular-webfont.svg#abelregular') format('svg');
  font-weight: normal;
  font-style : normal;
}


@font-face {
  font-family: 'Droid Arabic';
  src        : url('/fonts/droidkufi-regular-webfont.eot');
  src        : url('/fonts/droidkufi-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/droidkufi-regular-webfont.woff2') format('woff2'), url('/fonts/droidkufi-regular-webfont.woff') format('woff'), url('/fonts/droidkufi-regular-webfont.ttf') format('truetype'), url('/fonts/droidkufi-regular-webfont.svg#droid_arabic_kufiregular') format('svg');
  font-weight: normal;
  font-style : normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family   : 'Abel Regular';
  line-height   : 1.6;
  text-rendering: optimizeLegibility;
  max-width     : 100%;
  overflow-x    : hidden;
  
  @include gridle_state( mobile ) {
    font-size: 10px;
  }

  @include gridle_state( tablet ) {
    font-size: 16px;
  }

  @include gridle_state( desktop ) {
    font-size: 16px;
  }
}

main#main {
  z-index: 100;
}

footer {
  background: $blue;
  padding   : 30px 0;
}

a {
  @include transition-default;
  color          : $purple;
  text-decoration: none;
  border-bottom  : 1px solid transparent;
  
  &:hover,
  &:focus {
    
    // TODO: default link hover effect
  }
}

h1,
h2,
h3 {
  line-height: 1;
}

.c {
  @include container;
}

.ar {
  direction  : rtl;
  font-family: 'Droid Arabic Kufi';

}

/*//// footer ////*/

footer{ 
  background-color: $white;
}

#footer-container{
  
  width         : 90%;
  height        : 100%;
  margin        : 0 auto;
  padding-top   : 1.0em;
  background-color: $dark_pink;
  border-top: 2px solid $purple;
  
  .footer-column {

    background-color: $dark_pink;
    padding: 1.0em;  
    


  @include gridle_state( mobile ) {
      @include gridle_grid( 12 );
    }

    @include gridle_state( tablet ) {
      @include gridle_grid( 4 );
    }

    @include gridle_state( desktop ) {
      @include gridle_grid( 4 );
    }
    
  }

}
