* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

main#main {
  z-index: 100;
}

footer {
  background: $blue;
  padding   : 30px 0;
  
  .container {
    @include container;
  }
}

a {
  @include transition-default;
  color          : $purple;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: $blue;
  }
}

.ar {
  direction: rtl;
}
