section.page-section {
  width        : 100%;
  margin-top   : 50px;
  margin-bottom: 50px;
  
  &:first-child {
    margin-top: 0;
  }

  .section-title {
    position     : relative;
    display      : inline-block;
    text-align   : center;
    width        : 100%;
    margin-bottom: 30px;
    
    &::after {
      content   : ' ';
      position  : absolute;
      display   : inline-block;
      width     : 100%;
      border-top: 1px solid $purple;
      top       : 50%;
      left      : 0;
      z-index   : 200;
    }

    h1 {
      position  : relative;
      z-index   : 201;
      display   : inline-block;
      background: $white;
      padding   : 0 15px;
      font-size : 4em;
      color     : $purple;
    }
  }

  article {
    @include container;
    
    .left,
    .right {
      @include two-column;
      font-size: 2.5em;
    }

    .left > p {
      padding-right: 15px;
      
      @include gridle_state( mobile ) {
        padding-right: 0;
      }
    }

    .right > p {
      padding-left: 15px;
      
      @include gridle_state( mobile ) {
        padding-left: 0;
      }
    }
  }
}
