section.page-section {
  width        : 100%;
  margin-top   : 50px;
  margin-bottom: 50px;
  
  &:first-child {
    margin-top: 0;
  }

  .section-title {
    position     : relative;
    display      : inline-block;
    text-align   : center;
    width        : 100%;
    margin-bottom: 30px;
    
    &::after {
      content   : ' ';
      position  : absolute;
      display   : inline-block;
      width     : 100%;
      border-top: 1px solid $purple;
      top       : 50%;
      left      : 0;
      z-index   : 200;
    }

    h1 {
      position      : relative;
      z-index       : 201;
      display       : inline-block;
      padding       : 0 15px;
      font-size     : 4em;
      color         : $purple;
      text-transform: uppercase;
      text-shadow   : 10px 0 0 $white, -10px 0 0 $white, 0 10px 0 $white, 0 -10px 0 $white, 5px 5px $white, -5px -5px 0 $white, 5px -5px 0 $white, -5px 5px 0 $white;
    }
  }

  article {
    @include container;
    
    h2 {
      margin-bottom: 0;
      border-bottom: 1px solid $purple;
    }

    .left,
    .right {
      @include two-column;
      font-size: 2.5em;
    }

    .left {
      & > * {
        margin-right: 25px;
        
        @include gridle_state( mobile ) {
          margin-right: 0;
          padding     : 0 5px;
        }
      }
    }

    .right {
      & > * {
        margin-left: 25px;
        
        @include gridle_state( mobile ) {
          margin-left: 0;
          padding    : 0 5px;
        }
      }
    }
  }
}
