.slideshow {
  padding: 0;
  margin : 0;
  
  li,
  li.slick-slide {
    display: inline-block;
    
    img {
      display: inline-block;
    }
  }

  .slick-dots {
    position: static;
    
    button {
      width : 25px;
      height: 25px;
      
      &::before {
        font-size: 25px;
        color    : rgba($purple, .75);
      }
    }

    .slick-active button::before {
      color: rgba($purple, 1);
    }
  }
}
