@mixin container {
  @include gridle_container();
  max-width: 1280px;
  margin   : 0 auto;
  
  @include gridle_state( mobile ) {
    
  }
  
  @include gridle_state( tablet ) {
    
  }
  
  @include gridle_state( desktop ) {
    
  }
}

@mixin two-column {
  @include gridle_state( mobile ) {
    @include gridle_grid( 12 );
  }

  @include gridle_state( tablet ) {
    @include gridle_grid( 6 );
    
    &.left {
      padding-right: 15px;
    }

    &.right {
      padding-left: 15px;
    }
  }

  @include gridle_state( desktop ) {
    @include gridle_grid( 6 );
  }
}

@mixin equal-height {
  &::before {
    content    : '';
    display    : block;
    padding-top: 100%;
  }
}

@mixin shadowed-wrapper($color : $gray_light) {
  background: $color;
  box-shadow: inset 0 -10px 10px -10px rgba(darken($color, 50%), .65);
}

@mixin transition-default {
  transition: .33s all ease-in-out;
  
  &:hover,
  &:focus {
    transition: .25s all ease-in;
  }
}

@mixin circle($width) {
  width        : $width;
  height       : $width;
  border-radius: $width;
}
